/* Defining style variables */
:root {
    /* Background colors */
    --color-background: #D9D9D9;
    --color-background-dark: #A4A4A4;
    --color-background-nav: #797979;
    /* Text colors */
    --color-light-text: #FFFFFF;
    --color-light-text-highlight: #b6b6b6;
    --color-dark-text: #000000;
}

/* Defining global styles */

* {
    /* Just setting default margin and padding to 0 */
    margin: 0;
    padding: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Setting font family */
    font-weight: normal; /* Setting weight to normal, because the default is ugly */
}

/*Creates a grid that spans the three "main" elements*/
#page {
    display:grid;
    grid-template-columns: 1fr; /* Creates one column*/
    grid-template-rows: 1fr 1fr 1fr; /*Creates three rows*/
    height: 100vh; /*Makes the grid span the whole page*/
    width: 100%;
}

body {
    background-color: var(--color-background);
    min-height: 100vh;
    position: relative;
}
/*asigns places in the grid*/
header{
    grid-row: 1;
}

.home-container{
    grid-row: 2;
}

footer{
    grid-row:3;
}

.header-title {
    background-color: var(--color-background-dark);
    height: 6vh; /* Set height of title div */
    display: flex;
    justify-content: center; /* Center content in the middle (horizontally) */
    align-items: center; /* Center content in the middle (vertically) */
    font-family: 'Lobster', sans-serif; /* Specify the desired font */
    letter-spacing: 3px;
}

.header-nav {
    background-color: var(--color-background-nav);
    display: flex;
    justify-content: center; /* Center content in the middle (horizontally) */
    align-items: center; /* Center content in the middle (vertically) */
}

.header-nav ul {
    list-style: none; /* Remove list dots */
    letter-spacing: 3px;
}

.header-nav li {
    display: inline-block; /* Display list items in a row */
    padding: 1em; /* Adds 1em of padding around the li tag */
}

.header-nav li a {
    text-decoration: none; /* Remove any standard a tag ("link") styling  */
    color: var(--color-light-text);
    text-align: center;
    transition: color 0.3s; /* Add a smooth color transition on hover */
    font-family: 'Lobster', sans-serif; /* Specify the desired font */
}

/* Very basic styling when user hovers the a tag in the navigation */
.header-nav li a:hover {
    color: var(--color-light-text-highlight);
    cursor: pointer;
}

.header-nav .currentPage {
    color: black;
}

.home-container {
    margin: 2em 0 2em 0; /* Home page container margin */
}

/*Uses a mobile first approach ensuring that the grid accomodates smaller screens
first*/
.category {
    text-align: center; /* Center aligning text */
    display:grid;
    grid-template-columns: 1fr; /*Creates 1 column in the grid */
    grid-template-rows: 3em auto; /*makes columns fit the header and the others auto*/
}

.category h1 {
    margin-bottom: 0.4em; /* Add some space */
    grid-area: 1/1/1/1; /*Asigns area for the header*/
}

/*Adjusts the grid for a wide format for larger screens*/
@media only screen and (min-width: 812px){
.category {
    grid-template-columns: 1fr 1fr 1fr; /*Creates 3 columns in the grid */
}
.category h1 {
    grid-area: 1/1/1/4; /*Asigns area for the header*/
}
}
.category-item {
    display: inline-block; /* Displays items as inline blocks */
    line-height: 0; /* Remove line height caused by inline-block */
    position: relative; /* Relative positioning inside items for overlay tag */
}

.category-item:hover {
    cursor: pointer;
}

.category-item img {
    width: 100%; /* Set image with to that of the container */
}

.category-item h2 {
    background-color: rgba(0,0,0,0.5); /* Set background to black with 50% transparency. This is what makes the overlay effect */
    display: flex; /* Set display to flex, used to center content */
    justify-content: center; /* Center content in the middle (horizontally) */
    align-items: center; /* Center content in the middle (vertically) */
    color: var(--color-light-text);
    height: 4em; /* Set height of overlay to 4em */
    width: 100%; /* Set overlay width to 100% */
    position: absolute; /* Set positioning to absolute */
    bottom: 0; /* Place overlay at the bottom */
    left: 0; /* Place overlay to the left */
}

.home-article {
    margin: 2em 25vw auto 25vw;
    text-align: center;
    display: block;
}

footer {
    background-color: var(--color-background-dark);
    text-align: center; /* Align text in center */
    padding: 1em 0 1em 0; /* Adds 1em of padding to top and bottom */
    width: 100%; /* Set width of the footer to 100% */
}

