.header-title {
    font-size: 35px;
    letter-spacing: 3px;
    z-index: 2; /* Set a higher z-index to make sure it's above the products drop down menu */
}


/*Adjusts the styling, size and color of the products item dropdown menu */
#products {
    width: 150px;
    padding: 3px;
    background-color: #FFFFFF;
    color: #333;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    z-index: 1; /* Set a lower z-index to make sure it's behind the title */
}

/* Changes font size, family and alignment of products item header title*/
#product-item {
    font-size: 30px;
    text-align: center;
    font-family: 'Lobster';
}

#products:hover {
    background-color: #ccc; /*Changes color of producrts dropdown menu when hovered over */
}

#products option {
    background-color: #fff; /* Background color for options */
    color: #333; /* Text color for options */
    font-size: 16px; /* Font size for options */
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* minimum size for product is 200px and max is 1fr, this means that the products will rearrange depending on size of page. */
    gap: 10px; /* Add some gap between items */
    justify-content: center; /* Center the items horizontally */
    align-content: start; /* Align items to the top of each row */
}

.product-image {
    max-width: 100%; /* Ensure the images don't exceed their container's width */
    height: auto; /* Maintain the aspect ratio of the images */
}







