/* todo: fix better css */
.container {
  text-align: center;
}
.product-image {
  max-width: 20%; /* Ensure the images don't exceed their container's width */
  height: auto; /* Maintain the aspect ratio of the images */
}
